body {
    margin: 0;
    background-color: #1F2937;
    color: white;
    font-family: "Karla", sans-serif;
}

.container {
    max-width: 550px;
    margin: 90px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: #273549;
}

h1 {
    font-weight: 800;
    margin: 0;
    font-size: 28px;
}

#coloredblock {
    color: #4ADF86;
    margin-top: 4px;
}

#coloredblock2 {
    color: #D1D5DB;
    margin-top: 10px;
    font-size: 14px;
}

button {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    background: #10B981;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: #55F991;
    border-color: #55F991;
}

hr {
    border: none;
    height: 1px;
    background-color: #2F3E53;
    margin: 20px 0;
}

#password {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.password-box {
    background-color: #1F2937;
    border-radius: 6px;
    padding: 8px;
    width: 40%;
    text-align: center;
    font-family: monospace;
    font-size: 14px;
    color: #4ADF86;
}
